<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/home'>Vu Hoang Blog</a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>                    
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div class="header-cart">                            
                            <div class="cart-list" style="display: none;">                                
                                <!-- cart view san pham -->
                                <h4 class="cart-heading">Sản phẩm đã chọn</h4>
                                <ul class="cart-list-item">
                                    <!-- cart items -->
                                    <li class="cart-item">
                                        <img src="asset/img/product/sp1.jpg" alt="" class="cart-img">
                                        <div class="cart-item-info">
                                            <div class="cart-item-head">
                                                <h5 class="cart-item-name">Kem bổ sung elastine nâng cơ vùng mắt bảo bệ và cải thiện các nếp nhăn xung quanh vùng mắt. Bộ kem đặc trị vùng mặt. Bộ kem đặc trị vùng muỗi</h5>
                                                <div class="cart-item-price-wrap">
                                                    <span class="cart-item-price">2000000</span>
                                                    <span class="cart-item-multiply">x</span>
                                                    <input class="cart-item-quatity" type="text" value="2" role="spinbutton" />
                                                </div>
                                            </div>
                                            <div class="cart-item-body">
                                                <span class="cart-item-desc">Phân loại hàng: Bạc</span>
                                                <button class="btn cart-item-remove">Xóa</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="asset/img/product/sp4.jpg" alt="" class="cart-img">
                                        <div class="cart-item-info">
                                            <div class="cart-item-head">
                                                <h5 class="cart-item-name">kem trị quầng thâm mắt, bảo vệ vùng da mắt nhạy cảm, ngăn ngừa quá trình lão hóa</h5>
                                                <div class="cart-item-price-wrap">
                                                    <span class="cart-item-price">600000</span>
                                                    <span class="cart-item-multiply">x</span>
                                                    <input class="cart-item-quatity" type="text" value="4" role="spinbutton" />
                                                </div>
                                            </div>
                                            <div class="cart-item-body">
                                                <span class="cart-item-desc">Phân loại hàng: Bạc</span>
                                                <button class="btn cart-item-remove">Xóa</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="asset/img/product/sp3.jpg" alt="" class="cart-img">
                                        <div class="cart-item-info">
                                            <div class="cart-item-head">
                                                <h5 class="cart-item-name">Bộ kem đặc trị vùng mắt</h5>
                                                <div class="cart-item-price-wrap">
                                                    <span class="cart-item-price">1750000</span>
                                                    <span class="cart-item-multiply">x</span>
                                                    <input class="cart-item-quatity" type="text" value="2" role="spinbutton" />
                                                </div>
                                            </div>
                                            <div class="cart-item-body">
                                                <span class="cart-item-desc">Phân loại hàng: Bạc</span>
                                                <button class="btn cart-item-remove">Xóa</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="asset/img/product/sp1.jpg" alt="" class="cart-img">
                                        <div class="cart-item-info">
                                            <div class="cart-item-head">
                                                <h5 class="cart-item-name">Kem bổ sung elastine nâng cơ vùng mắt bảo bệ và cải thiện các nếp nhăn xung quanh vùng mắt. Bộ kem đặc trị vùng mặt. Bộ kem đặc trị vùng muỗi</h5>
                                                <div class="cart-item-price-wrap">
                                                    <span class="cart-item-price">900000</span>
                                                    <span class="cart-item-multiply">x</span>
                                                    <input class="cart-item-quatity" type="text" value="1" role="spinbutton" />
                                                </div>
                                            </div>
                                            <div class="cart-item-body">
                                                <span class="cart-item-desc">Phân loại hàng: Bạc</span>
                                                <button class="btn cart-item-remove">Xóa</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <img src="asset/img/product/sp4.jpg" alt="" class="cart-img">
                                        <div class="cart-item-info">
                                            <div class="cart-item-head">
                                                <h5 class="cart-item-name">kem trị quầng thâm mắt, bảo vệ vùng da mắt nhạy cảm, ngăn ngừa quá trình lão hóa</h5>
                                                <div class="cart-item-price-wrap">
                                                    <span class="cart-item-price">1200000</span>
                                                    <span class="cart-item-multiply">x</span>
                                                    <input class="cart-item-quatity" type="text" value="4" role="spinbutton" />
                                                </div>
                                            </div>
                                            <div class="cart-item-body">
                                                <span class="cart-item-desc">Phân loại hàng: Bạc</span>
                                                <button class="btn cart-item-remove">Xóa</button>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                <div class="cart-bottom">
                                <span class="cart-item-sum"> Tổng Tiền</span>
                                <a href="#" class="btn btn-primary cart-view">Xem giỏ hàng</a>
                                </div>
                            </div>                                                       
                        </div>
                    
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/search'>Search</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/cart'>Shopping</a>
                </li>

                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        id='navbarDropdown'
                        role='button'
                        data-toggle='dropdown'
                        aria-haspopup='true'
                        aria-expanded='false'
                    >
                        Vũ Hoàng
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navbarDropdown'>

                        <a class='dropdown-item' href='/courses/create'>Đăng Khóa Học</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='/me/stored/courses'>Khóa Học Của Tôi</a>
                        <a class='dropdown-item' href='/me/stored/courses2'>Paginate</a>
                        <a class='dropdown-item' href='/news'>Bài Viết</a>
                        <a class='dropdown-item' href='/news/detail-new'>Detail News</a>
                        <div class='dropdown-divider'></div>
                        <a class='dropdown-item' href='#'>Đăng Xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
var shop = document.getElementsByClassName("nav-item")[0];
var cartListForm = document.getElementsByClassName("header-cart");

shop.addEventListener('click', function(e){
    let listmenu = document.getElementsByClassName("cart-list")[0];
    //console.log('click roi',listmenu);    
    if(listmenu.style.display === 'none'){
        listmenu.style.display = 'block';
    }else{
        listmenu.style.display = 'none';
    }
});

tinhTongTien();
function tinhTongTien(){
    var allItems = document.getElementsByClassName("cart-item-price-wrap");
    var allPrice = document.getElementsByClassName("cart-item-price");
    var allQuality = document.getElementsByClassName("cart-item-quatity");
    var tongtien = document.getElementsByClassName("cart-item-sum");
    //console.log(tongtien[0].innerHTML);
    //console.log(tongtien.innerHTML);
    var sum = 0;
    for(var i=0; i<allItems.length; i++){        
        let price = allItems[i].childNodes[1].innerText;
        let quality = allItems[i].childNodes[5].defaultValue;
        //console.log('node ne:', quality, price);
        sum += (quality*price);
    }
    //console.log('tong =', sum);
    tongtien[0].innerText = "Tổng tiền: "+sum.toLocaleString('vn-VN')+" VND";
}

// btn xoa
var arrBtnXoa = document.getElementsByClassName("cart-item-remove");
for(var i=0; i<arrBtnXoa.length; i++){
    var btn = arrBtnXoa[i];
    btn.addEventListener('click', function(e){
        var id_xoa = e.target;        
        //console.log(id_xoa);
        id_xoa.parentElement.parentElement.parentElement.remove();
        tinhTongTien();       
        e.preventDefault(); // NOT re-load page
    });
}

</script>