<div class='input-group mb-3 mt-4'>
    <input
        type='text'
        class='form-control'
        placeholder='Enter parameters'
        aria-label="Recipient's username"
        aria-describedby='basic-addon2'
    />
    <div class='input-group-append'>
        <button class='btn btn-outline-secondary' type='button'>Search</button>
    </div>
</div>
<div class='search-form mt-4'>
    <form>
        <div class='form-group'>
            <label for='exampleInputEmail1'>Nhập từ khóa</label>
            <input type='text' name='q' class='form-control' id='search-input' placeholder='Nhập từ khóa' />

        </div>
        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>